.social-links{ background:url("social-links.png") top left no-repeat; }
._r1_c9{ width:24px; height:24px; background-position:-10px -10px; }
._r1_c7{ width:24px; height:24px; background-position:-10px -44px; }
._r1_c5{ width:24px; height:24px; background-position:-10px -78px; }
._r1_c3{ width:24px; height:24px; background-position:-10px -112px; }
._r1_c1{ width:24px; height:24px; background-position:-10px -146px; }

